.footer {
    margin-top: 70px;
    padding: 50px 0;
    background-color: $blue;
    color: $white;
    
    &__wrap {
        
        @media (max-width: 792px) {
            justify-content: center;
            gap: 30px;
        }
    }

    &__inner {
        gap: 20px;
    }

    &__logo {

    }

    &__copy {
        line-height: 20px;
    }

    &__policy, 
    &__agreement {
        font-size: 14px;
        line-height: 36px;
        color: $white;
    }

}